---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import CustomCursor from '../components/CustomCursor';
import HeroSection from '../components/HeroSection';
import Mission from '../components/Mission';
import VaultProjects from '../components/VaultProjects';
import Services from '../components/Services';
import TechnicalArsenal from '../components/TechnicalArsenal';
import Footer from '../components/Footer';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Nahom Merhatsyon | Principal Systems Architect">
	<CustomCursor client:load />
	<Navigation client:load />
	<main>
		<HeroSection client:load />
		<Mission client:visible />
		<VaultProjects client:visible />
		<Services client:visible />
		<TechnicalArsenal client:visible />
	</main>
	<Footer client:visible />
</Layout>
